<nav class="menu">
    <ul class="side-menu list-unstyled bg-gradient">
        <li><a routerLink="/" routerLinkActive="active" href="#" class="mt-1 hvr-icon-sink-away">NASLOVNA</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active" href="#" class="hvr-icon-forward">PORTFOLIO</a></li>
        <li><a routerLink="/letter" routerLinkActive="active" href="#" class="hvr-icon-forward">LETTER</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" href="#" class="hvr-icon-forward">CONTACT</a></li>
        <li><a routerLink="/single" routerLinkActive="active" href="#" class="hvr-icon-forward">SINGLE</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active" href="#" class="hvr-icon-forward">GALLERY</a></li>
    </ul>
</nav>
<div class="menu-overlay">

</div>
