<nav class="menu">
    <ul class="side-menu list-unstyled bg-gradient">
        <li><a href="#" class="mt-1 hvr-icon-sink-away">NASLOVNA</a></li>
        <li><a href="portfolio.html" class="hvr-icon-forward">PORTFOLIO</a></li>
        <li><a href="letter.html" class="hvr-icon-forward">LETTER</a></li>
        <li><a href="contact.html" class="hvr-icon-forward">CONTACT</a></li>
        <li><a href="single.html" class="hvr-icon-forward">SINGLE</a></li>
        <li><a href="gallery.html" class="hvr-icon-forward">GALLERY</a></li>
    </ul>
</nav>
<div class="menu-overlay">

</div>
