                            <article class="rightSiteSide">

                            <!-- MAP PART -->
                            <section>
                                <div class="row no-gutters bg-white boxshadow">
                                    <div class="col-12 text-center">
                                        <article>
                                            <div id="map_wrapper">
                                                <div id="map"></div>

                                            </div>



                                        </article>
                                    </div>
                                </div>
                            </section>


                            <!-- CONTACT FORM PART -->
                            <section>
                                <div class="row pt-3 pt-lg-5 pb-2 pb-lg-4 mt-2 mt-lg-4 no-gutters bg-white boxshadow fadeInUp animated">
                                    <div class="col-3 col-sm-2 text-center">
                                        <span class="fa fa-paper-plane-o "></span>
                                    </div>
                                    <div class="col-9 col-sm-10 pr-2 pr-lg-4 font14">
                                        <h2 class="h2respo">Contact</h2>
                                        <div class="row mt-5">
                                            <div class="col-11">



                                                <!----------------- CONTACT FORM -------------------->
                                                <form class="form-contact" method="post" action="">
                                                    <div class="form-group">
                                                        <label>Name*</label>
                                                        <input name="name" value="" class="form-control">
                                                        <div class="error"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email*</label>
                                                        <input name="email" value="" class="form-control" >
                                                        <div class="error"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Message*</label>
                                                        <textarea name="message" class="form-control"></textarea>
                                                        <div class="error"></div>
                                                    </div>
                                                    <button type="submit" class="btn hvr-shutter-in-vertical">SUBMIT</button>
                                                </form>



                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </section>

                        </article>
