                            <article class="rightSiteSide">

                            <!-- GALLERY PART -->
                            <section>
                                <div class='row'>
                                    <!--------------- FIRST PICTURE ---------------------->
                                    <div class="col-12 col-lg-6 mt-4 mt-lg-0 jackInTheBox animated">
                                        <a href="#" class='myImgHover'>
                                            <img class="myImg" src="../../assets/img/galleryphoto1.jpg" alt="Lorem ipsum" >
                                            <div class="overlay">
                                                <h2 class='mb-0'>Autumn</h2>
                                                <p class='mb-0'>Autumn, also known as fall in American and Canadian English,
                                                    is one of the four temperate seasons. Autumn marks the transition
                                                    from summer to winter, in September (Northern Hemisphere)
                                                    or March (Southern Hemisphere),</p>
                                            </div>
                                        </a>
                                    </div>




                                    <!----------------- 2 PICTURE ------------------->
                                    <div class="col-12 col-lg-6 mt-4 mt-lg-0 jackInTheBox animated">
                                        <a href="#" class='myImgHover'>
                                            <img class="myImg" src="../../assets/img/galleryphoto2.jpg" alt="Lorem ipsum" >
                                            <div class="overlay">
                                                <h2 class='mb-0'>Nest</h2>
                                                <p class='mb-0'>A nest is a structure built by certain animals to hold eggs,
                                                    offspring, and, occasionally, the animal itself. Although nests are most
                                                    closely associated with birds, members of all classes of vertebrates and
                                                    some invertebrates construct nests.</p>
                                            </div>
                                        </a>
                                    </div>



                                    <!----------------- 3 PICTURE ------------------->
                                    <div class="col-12 col-lg-6 mt-4 jackInTheBox animated">
                                        <a href="#" class='myImgHover'>
                                            <img class="myImg" src="../../assets/img/galleryphoto3.jpg" alt="Lorem ipsum" >
                                            <div class="overlay">
                                                <h2 class='mb-0'>Flowers</h2>
                                                <p class='mb-0'>A flower, sometimes known as a bloom or blossom,
                                                    is the reproductive structure found in flowering plants (plants of the
                                                    division Magnoliophyta, also called angiosperms). The biological
                                                    function of a flower is to effect reproduction, usually by providing
                                                    a mechanism for the union of sperm with eggs.</p>
                                            </div>
                                        </a>
                                    </div>


                                    <!----------------- 4 PICTURE ------------------->
                                    <div class="col-12 col-lg-6 mt-4 jackInTheBox animated">
                                        <a href="#" class='myImgHover'>
                                            <img class="myImg" src="../../assets/img/galleryphoto4.jpg" alt="Lorem ipsum" >
                                            <div class="overlay">
                                                <h2 class='mb-0'>Merry-Go-Round</h2>
                                                <p class='mb-0'>Merry-Go-Round was a national clothing retail chain
                                                    owned by Merry-Go-Round Enterprises, Inc., that thrived from the
                                                    1970s through the early 1990s. The chain fell into bankruptcy during
                                                    the mid 1990s, and eventually ceased operation in 1996.</p>
                                            </div>
                                        </a>
                                    </div>


                                    <!----------------- 5 PICTURE ------------------->
                                    <div class="col-12 col-lg-6 mt-4 jackInTheBox animated">
                                        <a href="#" class='myImgHover'>
                                            <img class="myImg" src="../../assets/img/galleryphoto5.jpg" alt="Lorem ipsum" >
                                            <div class="overlay">
                                                <h2 class='mb-0'>Birds</h2>
                                                <p class='mb-0'>Birds (Aves) are a group of endothermic vertebrates,
                                                    characterised by feathers, toothless beaked jaws, the laying of
                                                    hard-shelled eggs, a high metabolic rate, a four-chambered heart,
                                                    and a strong yet lightweight skeleton.</p>
                                            </div>
                                        </a>
                                    </div>


                                    <!----------------- 6 PICTURE ------------------->
                                    <div class="col-12 col-lg-6 mt-4 jackInTheBox animated">
                                        <a href="#" class='myImgHover'>
                                            <img class="myImg" src="../../assets/img/galleryphoto6.jpg" alt="Lorem ipsum" >
                                            <div class="overlay">
                                                <h2 class='mb-0'>Lions</h2>
                                                <p class='mb-0'>The lion (Panthera leo) is a species in the family Felidae and a
                                                    member of the genus Panthera. It has been listed as Vulnerable on the IUCN
                                                    Red List since 1996, as populations in African range countries declined by
                                                    about 43% since the early 1990s.</p>
                                            </div>
                                        </a>
                                    </div>


                                    <!----------------- 7 PICTURE ------------------->
                                    <div class="col-12 col-lg-6 mt-4 jackInTheBox animated">
                                        <a href="#" class='myImgHover'>
                                            <img class="myImg" src="../../assets/img/galleryphoto7.jpg" alt="Lorem ipsum" >
                                            <div class="overlay">
                                                <h2 class='mb-0'>Dogs</h2>
                                                <p class='mb-0'>The domestic dog (Canis lupus familiaris or Canis familiaris)
                                                    is a member of the genus Canis (canines), which forms part of the wolf-like canids,
                                                    and is the most widely abundant terrestrial carnivore. The dog
                                                    and the extant gray wolf are sister taxa as modern wolves are not
                                                    closely related to the wolves that were first domesticated, which implies
                                                    that the direct ancestor of the dog is extinct.</p>
                                            </div>
                                        </a>
                                    </div>


                                    <!----------------- 8 PICTURE ------------------->
                                    <div class="col-12 col-lg-6 mt-4 jackInTheBox animated">
                                        <a href="#" class='myImgHover'>
                                            <img class="myImg" src="../../assets/img/galleryphoto8.jpg" alt="Lorem ipsum" >
                                            <div class="overlay">
                                                <h2 class='mb-0'>Fish</h2>
                                                <p class='mb-0'>Fish are the gill-bearing aquatic craniate animals that lack limbs with digits.
                                                    They form a sister group to the tunicates, together forming the olfactores. Included in this
                                                    definition are the living hagfish, lampreys, and cartilaginous and bony fish as well as various extinct related groups.</p>
                                            </div>
                                        </a>
                                    </div>


                                    <!----------------- 9 PICTURE ------------------->
                                    <div class="col-12 col-lg-6 mt-4 jackInTheBox animated">
                                        <a href="#" class='myImgHover'>
                                            <img class="myImg" src="../../assets/img/galleryphoto9.jpg" alt="Lorem ipsum" >
                                            <div class="overlay">
                                                <h2 class='mb-0'>City</h2>
                                                <p class='mb-0'>A city is a large human settlement. Cities generally
                                                    have extensive systems for housing, tranportation, sanitation,
                                                    utilities, land use, and communication. Their density facilitates
                                                    interaction between people, government organizations and businesses,
                                                    sometimes benefiting different parties in the process.</p>
                                            </div>
                                        </a>
                                    </div>


                                    <!----------------- 10 PICTURE ------------------->
                                    <div class="col-12 col-lg-6 mt-4 jackInTheBox animated">
                                        <a href="#" class='myImgHover'>
                                            <img class="myImg" src="../../assets/img/galleryphoto10.jpg" alt="Lorem ipsum" >
                                            <div class="overlay">
                                                <h2 class='mb-0'>Trains</h2>
                                                <p class='mb-0'>A train is a form of rail transport consisting of a
                                                    series of connected vehicles that usually runs along a rail track
                                                    to transport cargo or passengers. Motive power is provided by a
                                                    separate locomotive or individual motors in self-propelled multiple
                                                    unit.</p>
                                            </div>
                                        </a>
                                    </div>




                                </div> <!-- GALLERY PART END -->
                            </section>




                            <!-- FOOTER -->
                            <section>
                                <div class="row pt-3 pt-lg-5 pb-2 pb-lg-4 mt-2 mt-lg-4 no-gutters bg-white justify-content-around boxshadow">
                                    <div class="col-8 col-md-4"><a href="#"><p class="borderbottomlink redtext">www.alrayhan.com</p></a></div>
                                    <div class="col-8 col-md-4"><a href="#"><p class="borderbottomlink redtext">dribbble.com/rtralrayhan</p></a></div>
                                </div>
                            </section>

                        </article>
