                            <article class="rightSiteSide">

                            <!-- NEWS PART -->
                            <section>
                                <div class="row masonery has-gutters portfolio mb-2 mb-lg-4 pb-2 pb-lg-4">
                                    <!-- NEWS 1 -->
                                    <div class="col-12 col-lg-6 text-center">
                                        <article class="bg-white mb-4 boxshadow">
                                            <figure class="figurenomargin">
                                                <img src="../../assets/img/portfolio-pic1.jpg" class='mh215' alt=""/>
                                            </figure>
                                            <div class="pt-2 pt-lg-4 pb-2 pb-lg-3 text-white bg-gradient3">
                                                <a href="#" class='linkedtext' routerLink="/single" routerLinkActive="active">
                                                    <h2 class='d-inline-block'>Website Redesign</h2>
                                                </a>
                                                <p>branding, ui-ux, article,</p>
                                            </div>
                                            <p class="pt-2 pt-lg-3 px-1 px-lg-4 pb-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. </p>
                                        </article>
                                    </div>

                                    <!-- NEWS 2 -->
                                    <div class="col-12 col-lg-6 text-center">
                                        <article class="bg-white mb-4 boxshadow">
                                            <figure class="figurenomargin">
                                                <img src="../../assets/img/portfolio-pic2.jpg" class='mh255' alt=""/>
                                            </figure>
                                            <div class="pt-2 pt-lg-4 pb-2 pb-lg-3 text-white bg-gradient3">
                                                <a href="#" class='linkedtext' routerLink="/single" routerLinkActive="active" >
                                                    <h2 class='d-inline-block'>Website Redesign</h2>
                                                </a>
                                                <p>branding, ui-ux, article,</p>
                                            </div>
                                            <p class="pt-2 pt-lg-3 px-1 px-lg-4 pb-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Nullam quised ie risus eget urna mollis ornare vel eurom leope.
                                                Praesent commodo cursus magna.</p>
                                        </article>
                                    </div>

                                    <!-- NEWS 3 -->
                                    <div class="col-12 col-lg-6 text-center">
                                        <article class="bg-white mb-4 boxshadow">
                                            <figure class="figurenomargin">
                                                <img src="../../assets/img/portfolio-pic3.jpg" class='mh255' alt=""/>
                                            </figure>
                                            <div class="pt-2 pt-lg-4 pb-2 pb-lg-3 text-white bg-gradient3">
                                                <a href="#" class='linkedtext' routerLink="/single" routerLinkActive="active" >
                                                    <h2 class='d-inline-block'>Music Player Design</h2>
                                                </a>
                                                <p>branding, ui-ux, article,</p>
                                            </div>
                                            <p class="pt-2 pt-lg-3 px-1 px-lg-4 pb-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Nullam quised ie risus eget urna mollis ornare vel eurom leope.
                                                Praesent commodo cursus magna.</p>
                                        </article>
                                    </div>

                                    <!-- NEWS 4 -->
                                    <div class="col-12 col-lg-6 text-center">
                                        <article class="bg-white mb-4 boxshadow">
                                            <figure class="figurenomargin">
                                                <img src="../../assets/img/portfolio-pic4.jpg" class='mh215' alt=""/>
                                            </figure>
                                            <div class="pt-2 pt-lg-4 pb-2 pb-lg-3 text-white bg-gradient3">
                                                <a href="#" class='linkedtext' routerLink="/single" routerLinkActive="active" >
                                                    <h2 class='d-inline-block'>Marketing Partner</h2>
                                                </a>
                                                <p>marketing, photography,</p>
                                            </div>
                                            <p class="pt-2 pt-lg-3 px-1 px-lg-4 pb-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. </p>
                                        </article>
                                    </div>
                                </div>
                            </section>






                            <!-- 5 TH NEWS -->
                            <article class='mt-4'>
                                <div class="row no-gutters bg-white boxshadow">
                                    <div class="col-12 col-lg-6">
                                        <figure class="figurenomargin maxheightfigure">
                                            <img src="../../assets/img/portfolio-pic5.jpg" class='d-block maxheightfigure' alt=""/>
                                        </figure>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row no-gutters interests justify-content-between">
                                            <div class="col-12 pb-2 pt-2 pt-lg-4 px-1 px-lg-4 text-justify">
                                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                    sed do eiusmod tempor incididunt ut labore et
                                                    dolore magna aliqua.
                                                </p>
                                            </div>
                                            <div class="col-12 text-justify nopadding">
                                                <article class="pt-2 pt-lg-4 pb-2 pb-lg-3 pl-2 pl-lg-4 text-white bg-gradient3">
                                                    <a href="#" class='linkedtext' routerLink="/single" routerLinkActive="active" >
                                                        <h2 class="d-inline-block">Marketing Partner</h2>
                                                    </a>
                                                    <p>marketing, photography,</p>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div></article>



                        </article>
