



        <app-toggle-menu></app-toggle-menu>
        <div class="container">
            <section>
                <div class="row justify-content-around">
                    <!-- LEFT SITE SIDE -->
                    <div class="col-lg-4 bg-gradient3 nopadding positionR">
                      <app-aside></app-aside>
                    </div>
                     <!-- LEFT SITE SIDE ENDING -->

                    <!-- RIGHT SITE SIDE -->
                    <div class="col-lg-8 bg-light nopadding">
                      <article class="py-4 px-3">
                      <app-main></app-main>
                      </article>
                    </div>
                    <!-- RIGHT SITE SIDE ENDING -->



                </div>
            </section>
        </div>
