                            <article class="rightSiteSide">

                            <!-- WORK EXPERIENCES PART -->
                            <section>
                                <div class="row px-3 px-lg-5 py-3 py-lg-5 no-gutters bg-white boxshadow zoomInUp animated">
                                    <div class="col-12">
                                        <p class="redtext borderbottomlink"><b>20 January 2015</b></p>
                                        <p class="pnomargin"><b>Mr.Jonathon</b></p>
                                        <p class="pnomargin">Human Resource Manager</p>
                                        <p class="pnomargin">Creative Design Studio</p>
                                        <p class="pnomargin">45 Wolf Street - NY5D34K</p><br>
                                        <p><b>Dear Sir/Madam</b></p>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum
                                            dolore eu fugiat nulla pariatur. </p>

                                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                            officia deserunt mollit anim id est labored ut perspiciatis unde
                                            omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                            architecto beatae vitae dicta sunt explicabo. </p>

                                        <p class="pb-4">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                            suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                                            autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                                            nihil molestiae consequatur vel illum qui dolorem.</p>

                                        <p>Your Sincerely</p>
                                        <p class="signature fontbig">Al Rayhan</p>
                                        <p class="pnomargin">Mohaimenul Adnan</p>
                                        <p class="pnomargin">UI & UX Designer</p>
                                        <p class="pnomargin">Sylhet, Bangladesh.</p>
                                    </div>
                                </div>
                            </section>


                            <!-- EDUCATION PART -->
                            <section>
                                <div class="row pt-3 pt-lg-5 pb-2 pb-lg-4 mt-2 mt-lg-4 no-gutters bg-white boxshadow zoomInUp animated">
                                    <div class="col-2 text-center">
                                        <span class="fa fa-graduation-cap"></span>
                                    </div>
                                    <div class="col-10 pr-2 pr-lg-4 font14">
                                        <h2 class="h2respo pb-4">Refarances</h2>
                                        <h3 class="h3respo pnomargin">Mr.John Doe</h3>
                                        <p class="redtext borderbottomlink pnomargin">Founder &amp; CEO, Lorem Ipsum</p>
                                        <p class="pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing eli, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua</p>
                                        <hr>
                                        <h3 class="h3respo pnomargin">Mr.Anwar Hosain</h3>
                                        <p class="redtext borderbottomlink pnomargin">Co-Founder &amp; CEO. MedA-ID</p>
                                        <p class="pb-4">Lorem ipsum dolor sit amet, consecterum adipiscing elit, sed do eiusmod
                                            dolore magna aliqua. Ut enim ad quis nostrud exercitation</p>
                                    </div>
                                </div>
                            </section>

                        </article>
