
    <div class="toggle-menu bg-gradient3">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <section class="leftSiteSide">
        <!-- PICTURE -->
        <section class="rayhanSection">
            <figure class="mb-0">
                <img src="../../assets/img/rayhan.png" alt=""/>
            </figure>
            <div class="rayhan">
                <h2>AI Rayhan</h2>
                <h3>UI & UX Expert</h3>
            </div>
        </section> <!-- PICTURE END -->

        <!-- FIRST ROW -->
        <div class="row pt-5 text-white no-gutters insetsb">
            <div class="col-3 text-center">
                <span class="fa fa-user-o"></span>
            </div>
            <div class="col-9 pr-4 font14">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labor
                    et dolore magna aliqua. Ut enim ad minim veniamnt
                    in culpa quie officia deserunt mollit.</p>
                <br><br>
            </div>
        </div>

        <!-- SECOND ROW -->
        <div class="row personInfo pt-4 text-white no-gutters insetsb">
            <div class="col-3 text-center">
                <span class="fa fa-phone"></span>
            </div>
            <div class="col-9 pr-4 font14">
                <p class="font22">(880) 1737-662662</p>
                <p>Mobile</p>
                <p class="font22">(880) 1771-299299</p>
                <p>Work</p>
                <br><br>
            </div>
        </div>

        <!-- THIRD ROW -->
        <div class="row personInfo pt-4 text-white no-gutters insetsb">
            <div class="col-3 text-center">
                <span class="fa fa-envelope"></span>
            </div>
            <div class="col-9 pr-4 font14">
                <p class="font22">mail@alrayhan.com</p>
                <p>Mobile</p>
                <p class="font22">ar@deviserweb.com</p>
                <p>Work</p>
                <br><br>
            </div>
        </div>

        <!-- 4TH ROW -->
        <div class="row personInfo pt-4 text-white no-gutters insetsb">
            <div class="col-3 text-center">
                <span class="fa fa-map-o"></span>
            </div>
            <div class="col-9 pr-4 font14">
                <p class="font22">24 Golden Tower <sup>(2nd floor)</sup></p>
                <p class="font22">Amberkhana, Sylhet</p>
                <p>SYL-3RF87W</p>
                <br><br>
            </div>
        </div>

        <!-- 5TH ROW -->
        <div class="row personInfo pt-4 text-white no-gutters insetsb">
            <div class="col-3 text-center">
                <span class="fa fa-calendar-o"></span>
            </div>
            <div class="col-9 pr-4 skillz font14">
                <h2>Professional Skills</h2>
                <p class="font22 pt-3">Adobe Photoshop</p>
                <div class="bg-white skill" data-skill="35">
                    <div class="achieviment">
                        <span></span>
                    </div>
                </div>
                <p class="font22 pt-3">Adobe Illustrator</p>
                <div class="bg-white skill" data-skill="81">
                    <div class="achieviment">
                        <span></span>
                    </div>
                </div>
                <p class="font22 pt-3">HTML 5 & CSS 3</p>
                <div class="bg-white skill" data-skill="55">
                    <div class="achieviment">
                        <span></span>
                    </div>
                </div>
                <p class="font22 pt-3">Java Script</p>
                <div class="bg-white skill" data-skill="91">
                    <div class="achieviment">
                        <span></span>
                    </div>
                </div>
                <br><br><br><br>
            </div>
        </div>

    </section>
